.main{
  &__section{
    padding-top: 64px;
  }
}

.section{
  display: flex;
  align-items: center;
  justify-content: center;


  &__black{
    background-color: $colorBlack;
    span{
      color: $colorWhite;
    }
  }

  &__sticky{
    position: sticky;
    top: 0;
    left: 0;
  }
  &__title{
    font-size: $fontSizeTitle;
    font-weight: 700;
    letter-spacing: 3px;
    color: $colorBlack;
  }
  &__container{
    max-width: $maxWidth;
    width: 100%;
    padding: 120px 20px;
    gap: 42px;
    display: flex;
    flex-direction: column;
  }

  .content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    position: relative;
    &__col{
      flex-direction: column;
    }
  }
}

