.mainSection{
  background-color: aqua;
}




.section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;

  &Container{
    max-width: 1600px;
    width: 100%;
    padding: 120px 0;
  }
}

