.main{
  &__section{
    padding-top: 64px;

    @include responsive($breakpointLarge){
      padding-top: 48px;
    };

    @include responsive($breakpointMedium){
      padding-top: 40px;
    };
  }
}

.section{
  display: flex;
  align-items: center;
  justify-content: center;


  &__black{
    background-color: $colorBlack;
    span{
      color: $colorWhite;
    }
  }

  &__sticky{
    position: sticky;
    top: 0;
    left: 0;
  }
  &__title{
    font-size: $fontSizeTitle;
    font-weight: 700;
    letter-spacing: 1.6px;
    color: $colorBlack;
    @include responsive($breakpointLarge){
      font-size: $fontSizeLarge;
    };
    
    @include responsive($breakpointMedium){
      font-size: $fontSizeMedium;
    };
  }
  &__container{
    max-width: $maxWidth;
    width: 100%;
    padding: 120px 20px;
    gap: 42px;
    display: flex;
    flex-direction: column;
    @include responsive($breakpointLarge){
      gap: 26px;
      padding: 80px 16px;
    };

    @include responsive($breakpointMedium){
      gap: 20px
    };
  }

  .content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    position: relative;

    @include responsive($breakpointMedium){
      flex-direction: column
    };
    &__col{
      flex-direction: column;
    }

    @include responsive($breakpointLarge){
      gap: 40px
    };

    @include responsive($breakpointMedium){
      gap: 32px
    };
  }
}

