// contact
.contact{
  position: absolute;
  bottom: 50%;
  right: 20px;
  z-index: 20;
  transform: translateY(50%);
  @include responsive($breakpointMedium){
    right: 12px;
  };

  span{
    border-radius: 30px;
    background-color: rgba($color: $colorNavy, $alpha: .6);
    color: $colorWhite;
    letter-spacing: 1.2px;
    font-weight: 700;
    padding: 24px 12px;
    transform: rotate(180deg) ;
    writing-mode: vertical-rl;
    font-size: $fontSizeLarge;
    text-transform: uppercase;
    &:hover{
      background-color: $colorNavy;
    }
  }
}