// contact
.contact{
  position: fixed;
  bottom: 50%;
  right: 10px;
  z-index: 20;
  transform: translateY(50%);
  @include responsive($breakpointLarge){
    right: 8px;
  };

  a{
    align-content: center;
    border-radius: 30px;
    background-color: rgba($color: $colorNavy, $alpha: .6);
    color: $colorWhite;
    letter-spacing: 1.2px;
    font-weight: 700;
    width: 42px;
    padding: 24px 0;
    transform: rotate(180deg) ;
    writing-mode: vertical-rl;
    font-size: $fontSizeLarge;
    text-transform: uppercase;
    &:hover{
      background-color: $colorNavy;
    }
  }
}