.footer {
  background-color: $colorNavy;
  padding: 80px 20px;
  @include responsive($breakpointLarge){
    padding: 60px 16px;
  };
  &__container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    a,span{
      color: $colorGrayLight;
    }

    @include responsive($breakpointMedium){
      flex-direction: column;
      gap: 20px;
      align-items: center
    };
  }


  &__nav {
    display: flex;
    justify-content: center;
    gap: 16px;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__social {
    display: flex;
    gap: 12px;
    @include responsive($breakpointLarge){
      gap: 8px;
    };
    a {
      padding: 12px 0;
      border-radius: 4px;
      display: flex;
      width: 80px;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      font-weight: 700;
      font-size: $fontSizeSmall;
      box-sizing: content-box;
      border: 1px solid rgba($color: $colorGrayLight, $alpha: .2);
      &:hover {
        color: #0077b5;
        background-color: rgba($color: $colorGrayLight, $alpha: .2);
      }
      @include responsive($breakpointLarge){
        padding: 10px 0;
        width: 62px;
        font-size: $fontSizeXSmall;
      };
    }
  }

  &__text {
    font-size: $fontSizeSmall;
    @include responsive($breakpointLarge){
      font-size: $fontSizeXSmall;
    };
  }
}