.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 64px;
  z-index: 10;

  @include responsive($breakpointLarge){
    height: 48px;
  };

  // @include responsive($breakpointMedium){
  //   height: 40px;
  // };
  &__container { 
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    height: 100%;
    @include responsive($breakpointLarge){
      padding: 0 16px;
    };
    @include responsive($breakpointMedium){
      padding: 0 12px
    };
  }

  &__nav {
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;  

    @include responsive($breakpointLarge){
      gap: 12px;
    };

    @include responsive($breakpointMedium){
      gap: 6px;
    };
    
    button{
      padding: 0 24px;
      background-color: rgba($color: $colorNavy, $alpha: .8);
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 23px;
      font-weight: 600;
      color: $colorWhite;
      transition: $transition;
      font-size: $fontSizeSmall;



      &:hover{
        background-color: $colorNavy;
      }

      @include responsive($breakpointLarge){
        padding: 0 16px;
        // height: 26px;
        font-size: $fontSizeXSmall;
      };

      @include responsive($breakpointMedium){
        padding: 0 12px;
      };
    }
    @for $i from 1 through 4 {
      li{
        transform: translateY(calc(-100% - 12px));
        animation: menuDown .5s ease forwards;
        &:nth-child(#{$i}) {
          animation-delay: 0.26s * $i; 
      }
      }
    }

  }
  
  &__logo {
    font-size: 24px;
    font-weight: 600;
    @include gradient-text($colorNavy 30%, $colorGrayLight 80%, 120deg);

    @include responsive($breakpointLarge){
      font-size: 20px
    };
    
    @include responsive($breakpointMedium){
      font-size: 18px
    };
  }
}


@keyframes menuDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}